.task-card {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card-buttons {
  display: flex;
  justify-content: space-between;
}

.task-card-description {
  height: 60px;
  overflow-y: auto;
}

.task-card-status {
  height: 35px;
}
